<h3>Reset password!</h3>

Hi {{ name }}! You recently took steps to reset the password for your profile. Click on the link below to reset your password.

{# example, assuming you have a route named "login" #}
<a href="{{ url('newpassword',{'hash': hash}) }}">Reset password</a>.

Thanks!

{# Makes an absolute URL to the /images/logo.png file #}
<img src="{{ absolute_url(asset('images/logo.png')) }}">