{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-12 wrapper">
        <div class="q">
            <div class="container text-center">
                <h1 class="headline">New Iphone 8</h1>
                <p class="subhead">Now in stock</p>
            </div>
            <div class="col-md-8">
                <figure class="iphone8-left"></figure>
            </div>
            <div class="col-md-4 right-side">
                <figure class="iphone8-right"></figure>
            </div>
        </div>
    </div>
    <div class="col-md-12 watch-wrapper">
        <div class="q">
            <div class="container text-center">
                <h1 class="watch3"></h1>
                <p class="subhead">Freedom calls</p>
            </div>
            <div class="col-md-8">
                <figure class="watch-left"></figure>
            </div>
            <div class="col-md-4 right-side">
                <figure class="watch-right"></figure>
            </div>
        </div>
    </div>
{% endblock %}

